@using Microsoft.AspNetCore.Http

@{
    var x = Context.Session.GetString("SessionUser");

}




@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}





    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Bem-Vindo @x</h4>

    </div>

    









