@model Pratice.Models.UsuarioModel

@if (!string.IsNullOrEmpty(ViewBag.Error))
{
<div class="alert alert-danger alerta" style="width: 250px; display: flex; margin: 0 auto; top: 65px;" role="alert">@ViewBag.Error</div>
}

@{ 
    Layout = null;
}


<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/style.css">
    <!-- <script src="bootstrap-4.4.1-dist/css/bootstrap.min.css"></script>
    <script src="bootstrap-4.4.1-dist/js/bootstrap.min.js"></script> -->
    <title>Document</title>
</head>

<body class="body_login">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5 card_login">
                    <div class="card-body">
                        <div class="div_logo">
                            <img src="~/images/logo.png" class="img img_logo">
                        </div>
                        <h5 class="card-title text-center">Logar</h5>
                        @using (Html.BeginForm("Logar", "Login", FormMethod.Post))
                        {
                            <form class="form-signin">
                                <div class="form-label-group">
                                    @*@Html.TextBoxFor(m => m.Email_usuario, new { Type = "email", Class = "form-control", placeholder = "Email address", id = "inputEmail", @required = "required;" })*@
                                    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address"
                                        required autofocus>
                                    <label for="inputEmail">Email address</label>

                                </div>

                                <div class="form-label-group">
                                    @*@Html.TextBoxFor(m => m.SenhaUsuario, new { Type = "password", Class = "form-control", placeholder = "Password", id = "inputPassword",  @required = "required;" })*@
                                    <input type="password" id="inputPassword" name="senha" class="form-control" placeholder="Password"
                                        required>
                                    <label for="inputPassword">Password</label>

                                </div>

                                <div class="custom-control custom-checkbox mb-3">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Remember password</label>
                                </div>
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">
                                    Sign
                                    in
                                </button>

                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>